build/
*.ipr
**/run/
*.iws
out/
*.iml
.gradle/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/oms/src/generated/resources/.cache/
/.kotlin
/oms/test/
/*/logs/
/**/logs/
logs/
